* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

header {
  position: fixed;
  top: 0;
  left: -40px;
  width: 100%;
  padding: 40px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
}

header ul {
  position: relative;
  display: flex;
}

header ul li {
  position: relative;
  list-style: none;
}

header ul li a {
  font-weight: 700;
  font-size: 13px;
  position: relative;
  display: inline-block;
  margin: 0px 10px;
  color: #000000;
  text-decoration: none;
}

header ul li :hover {
  color: dodgerblue;
}

.error-container {
  margin-bottom: 20px;
}

.btn-back-home {
  padding: 5px;
  border-radius: 5px;
  text-decoration: none;
  background-color: #61dafb;
}

.about {
  height: 550px;
  width: 550px;
}