* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

header {
  background-color: #ffffff;
  position: fixed;
  top: 0;
  /* left: -40px; */
  width: 100%;
  padding: 5px 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
  box-shadow: 0px 5px 20px #00000031;
}

header ul {
  position: relative;
  display: flex;
}

header ul li {
  position: relative;
  list-style: none;
}

header ul li a {
  font-weight: 700;
  font-size: 14px;
  position: relative;
  display: inline-block;
  margin: 0px 10px;
  color: #000000;
  text-decoration: none;
}

header ul li :hover {
  color: dodgerblue;
}

.error-container {
  margin-bottom: 20px;
}

.btn-back-home {
  padding: 5px;
  border-radius: 5px;
  text-decoration: none;
  background-color: #61dafb;
}

.about-us {
  padding-left: 260px;
  padding-right: 260px;
}

.banner-img {
  margin-top: -100px;
  height: 850px;
  width: 1903px;
}

.banner {
  color: #ffffff;
  margin-top: -420px;
  margin-left: -1200px;
}

.btn-hero {
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 7px;
  margin-top: 15px;
  /* margin-left: -1200px; */
  text-decoration: none;
  color: #ffffff;
  background-color: dodgerblue;
  display: inline-block;
}

.loading-gif {
  height: 300px;
}

.products-center {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 70px;
  padding: 55px;
}

.product {
  padding: 30px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 5px 0px 10px #282c3488;
}

.img-container img {
  height: 150px;
}

.btn-product-details {
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 7px;
  margin-top: 15px;
  /* margin-left: -1200px; */
  text-decoration: none;
  color: #ffffff;
  background-color: crimson;
  display: inline-block;
}

.featured-products {
  margin-top: 400px;
}